table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 2, 128);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  
  th,
  td {
    padding: 20px;
  }

  html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }
  
  thead th,
  tfoot th {
    font-family: "helvetica neue", cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  tbody tr:nth-child(odd) {
    background-color: #efd7d7;
  }
  
  tbody tr:nth-child(even) {
    background-color: #50535142;
  }
  
  tbody tr {
    background-image: url(noise.png);
  }
  
  table {
    background-color: #8bdaf4;
  }
